<nb-layout>

  <nb-layout-header fixed>
    <b>neoney.me</b>
  </nb-layout-header>

  <nb-layout-column>

    <h1>Hello<span *ngIf="auth.user$ | async as user"> {{ user.displayName }}</span>!</h1>

    <div *ngIf="this.status.statuses$ | async as statuses; else loading">
      <div *ngFor="let status of statuses">
        {{ status.name }}: {{status.status}}
      </div>
    </div>

    <ng-template #loading>
      Loading...
    </ng-template>

    <button nbButton status="basic" *ngIf="!(auth.user$ | async); else logout" (click)="auth.googleSignIn()">Sign in with Google</button>

    <ng-template #logout>
      <button nbButton status="danger" (click)="auth.signOut()">Sign out</button>
    </ng-template>

  </nb-layout-column>

<!--  <nb-layout-footer fixed>-->
<!--  -->
<!--  </nb-layout-footer>-->

</nb-layout>
